#app-container{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #82c76054;
    border-radius: 30px;
    padding: 40px;
    min-height: 60vh;
}

#row {
   margin-top: 40px;
}

h1 {
    color: #FB607F;
    font-weight: bold!important;
}

h3 {
    padding-top: 20px;
    color: #83C760;
    font-weight: bold!important;
    text-align: center;
}

p {
    font-size: 20px;
    color: #83C760;
    text-transform: uppercase;
}

span {
    color:#FB607F;
    font-weight: bold;
}

.intro-div {
    text-align: center;
    margin: 20px 0;
}

.colored-row {
    background-color:white;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.color-picker {
   margin: 40px 0;
 
}

.color-div {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #FB607F;
    border-radius: 10px 5pc 10px 5pc;
    margin-bottom: 40px;
}

.generate-btn {
    border-radius: 10px!important;
    padding: 15px 40px!important;
    text-transform: uppercase;
    background-color: #FB607F!important;
    border: none!important;
    margin-bottom: 20px;
}

.generate-btn:hover {
    background-color: #83C760!important;
}

.qr-container {
    background-color: white;
    border-radius: 5pc 10px 5pc 10px;
    box-shadow: 2px 4px 2px 0 #FF91A4;
    display: table;
}

.download-btn {
    border-radius: 10px!important;
    padding: 15px 20px!important;
    text-transform: uppercase;
    background-color: #FB607F!important;
    border: none!important;
    margin: 20px 0;
}

.download-btn:hover {
    background-color: #FF91A4!important;
}

.icon {
    font-size: 20px;
}

.qr-div {
    text-align: center;
    display: table-cell; 
    vertical-align: middle;
}

.qr-img {
    padding: 40px;
    max-width: 100%;
    max-height: auto;
}

.input:focus {
    border-color: #FB607F!important;
    box-shadow: 0 0 0 0.2rem #FB607F!important;
}

::placeholder{
    color: #83C760!important;
    opacity: 1;
}

.logo-icon {
    color: #FB607F!important;
    font-size: 30px;
    margin-bottom: 30px;
}
